{
  "extends": [
    "@kisenka/eslint-config"
  ],
  "env": {
    "node": true
  },
  "overrides": [
    {
      "files": [
        "packages/svg-baker-runtime"
      ],
      "env": {
        "node": false,
        "es6": true,
        "browser": true
      }
    }
  ]
}
